<html>
  <title>Breast Cancer Prediction</title>
  <head> </head>
  <style>
    body {
      background-image: url("https://cdn.glitch.global/0ab61b9d-f232-45f9-aaf3-951ffeacb6df/rain2.jpg?v=1688581279618");
      background-size: 100% 100%;
    }
    h1 {
    }
  </style>
  <body>
    <div align="center" class="main">
      <h1 style="background-color: #fffdd0">BREAST CANCER PREDICTION</h1>
      <br />
      <form action="/Breast Cancer" method="POST">
        <table class="table table-striped trans" align="center">
          <div class="row">
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="texture_mean" class="form-label">texture_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="texture_mean"
                         id="texture_mean"
                    placeholder="Texture Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td><label for="smoothness_mean" class="form-label">smoothness_mean</label></td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="smoothness_mean"
                         id="smoothness_mean"
                    placeholder="Smoothness Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="compactness_mean" class="form-label">compactness_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="compactness_mean"
                      id="compactness_mean"   
                    placeholder="Compactness Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="symmetry_mean" class="form-label">symmetry_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="symmetry_mean"
                      id="symmetry_mean"   
                    placeholder="Symmetry Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_se" class="form-label">radius_se</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_se"
                      id="radius_se"   
                    placeholder="Radius Se"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="smoothness_se" class="form-label">smoothness_se</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="smoothness_se"
                      id="smoothness_se"   
                    placeholder="Smoothness Se"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="compactness_se" class="form-label">compactness_se</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="compactness_se"
                      id="compactness_se"   
                    placeholder="Compactness Se"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_worst" class="form-label">radius_worst</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_worst"
                      id="radius_worst"   
                    placeholder="Radius Worst"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="texture_worst" class="form-label">texture_worst</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="texture_worst"
                      id="texture_worst"   
                    placeholder="Texture Worst"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <input type="submit" value="Breast Cancer Diagnosis" />
                <input type="reset" value="Clear" />
              </td>
            </tr>
          </div>
        </table>
      </form>

     <div class="row">
  <h2 style="color: #fffdd0">
    <em>
      {% if result == 1 %}
        Drizzle
      {% elif result == 2 %}
        Rain
      {% elif result == 3 %}
        Sun
      {% elif result == 4 %}
        Snow
      {% elif result == 5 %}
        Fog
      {% else %}
        Unknown
      {% endif %}
    </em>
  </h2>
</div>

    </div>
  </body>
</html>
