<html>
  <title>Breast Cancer Prediction</title>
  <head> </head>
  <style>
    body {
      background-image: url("https://cdn.glitch.global/0ab61b9d-f232-45f9-aaf3-951ffeacb6df/rain2.jpg?v=1688581279618");
      background-size: 100% 100%;
    }
    h1 {
    }
  </style>
  <body>
    <div align="center" class="main">
      <h1 style="background-color: #fffdd0">BREAST CANCER PREDICTION</h1>
      <br />
      <form action="/Breast Cancer" method="POST">
        <table class="table table-striped trans" align="center">
          <div class="row">
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="temp_min" class="form-label">temp_min</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="temp_min"
                         id="temp_min"
                    placeholder="min temp"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td><label for="wind" class="form-label">wind</label></td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="wind"
                         id="wind"
                    placeholder="Enter wind"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr align="center">
              <div class="col-sm-6">
                <td>
                  <label for="radius_mean" class="form-label">radius_mean</label>
                </td>
              </div>
              <div class="col-sm-6">
                <td>
                  <input
                    type="text"
                    name="radius_mean"
                      id="radius_mean"   
                    placeholder="Radius Mean"
                    required
                  />
                </td>
              </div>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <input type="submit" value="Breast Cancer Diagnosis" />
                <input type="reset" value="Clear" />
              </td>
            </tr>
          </div>
        </table>
      </form>

     <div class="row">
  <h2 style="color: #fffdd0">
    <em>
      {% if result == 1 %}
        Drizzle
      {% elif result == 2 %}
        Rain
      {% elif result == 3 %}
        Sun
      {% elif result == 4 %}
        Snow
      {% elif result == 5 %}
        Fog
      {% else %}
        Unknown
      {% endif %}
    </em>
  </h2>
</div>

    </div>
  </body>
</html>
