<html>
  <title>weather predction</title>
  <head> </head>
   <style> 
     body{
background-image: url("https://cdn.glitch.global/0ab61b9d-f232-45f9-aaf3-951ffeacb6df/rain2.jpg?v=1688581279618");
background-size:100% 100%;
     }
     h1{
       
     }
    </style>
  <body>
    <div align="center" class="main">
        <h1 style="background-color:#FFFDD0">WHEATHER PREDICTION</h1> <br />
        <form action="/result" method="post">
          <center>
            <table>
                <tr>
                    <td align="center" style="color:#FFFDD0"> <strong>TEMP_MAX:</strong> </td>
                    <td align="center"><input type="text" name="n1"></td>
                </tr>
                <tr>
                    <td align="right" style="color:#FFFDD0"> <strong>TEMP_MIN:</strong> </td>
                    <td align="left"><input type="text" name="n2"></td>
                </tr>
                <tr>
                    <td align="right" style="color:#FFFDD0"> <strong>WIND:</strong> </td>
                    <td align="left"><input type="text" name="n3"></td>
                </tr>
            
            </table></center>
            <input type="submit" value="PREDICT">
        </form>
        <div class="row">
            <h2 style="color:#FFFDD0"><em>{{result2}} </em></h2>
        </div>
    </div>
</body>
 
</html>