<html>
  <title>weather predction</title>
  <head>
    
    <body>
      <img src="https://cdn.glitch.global/0ab61b9d-f232-45f9-aaf3-951ffeacb6df/rain2.jpg?v=1688581279618" height='600'>
    <div align="center" class="main">
        <h1>WHEATHER PREDICTION</h1> <br />
        <form action="result">
            <table>
                <tr>
                    <td align="right"> <strong>TEMP_MAX:</strong> </td>
                    <td align="left"><input type="text" name="n1"></td>
                </tr>
                <tr>
                    <td align="right"> <strong>TEMP_MIN</strong> </td>
                    <td align="left"><input type="text" name="n2"></td>
                </tr>
                <tr>
                    <td align="right"> <strong>WIND</strong> </td>
                    <td align="left"><input type="text" name="n3"></td>
                </tr>
            
            </table>
            <input type="submit" value="PREDICT">
        </form>
        <div class="row">
            <h2><em>{{result2}}</em></h2>
        </div>
    </div>
</body>
  </head>
</html>